{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container blog-heading">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-4">Customer Testimonials</h2>
                <h5 class="font-weight-bold">View feedback from our customers below</h5>
                <hr>
                <img class="w-100 testimonials-page-image"  src="{{ MEDIA_URL }}testimonials-header.jpg" class="img-fluid" alt="Responsive image">
                

            </div>
        </div>
    </div>
    <div class="container testimonials-container">

        <div class="row">
            
            {% for testimonial in testimonials %}

                <div class="col-12">
                        <div class="card card-style-testimonial border-secondary mb-4">
                            <div class="card-body text-center">
                                
                                <p class="font-weight-bold text-uppercase logo-font"><i class="fas fa-campground"></i>{{ testimonial.testimonial_title }}</p>
                                <p>{{ testimonial.testimonial_content }}</p>
                                <p class="font-italic">By {{ testimonial.created_by }}</p>                      
                                {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_testimonial' testimonial.id %}">Edit</a> | 
                                </small>
                                <small class="ml-3">
                                    <a href="{% url 'delete_testimonial' testimonial.id %}">Delete</a> | 
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="row testimonial-page-btns">
            <div class="col text-right">
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-sm">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Home</span>
                </a>
            </div>
            <div class="col text-left">
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-sm">
                    <span class="text-uppercase">View Hampers</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>

        </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}