<footer id="footer">
    <div class="row text-center text-black footer-icons">
        <div class="col">
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f footer-icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram footer-icon" aria-hidden="true"></i>
            </a>
            <a href="mailto:camperhampers@example.com">
                <i class="fas fa-envelope-open footer-icon" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row text-center text-black footer-links">
        <div class="col">
            <a href="{% url 'testimonials' %}" class="text-uppercase font-weight-bold footer-links">View Testimonials</a>
        </div>
    </div>
    <div class="row text-center text-black footer-links">
        <div class="col">
            <a href="{% url 'blog' %}" class="text-uppercase font-weight-bold footer-links">View Blog</a>
        </div>
    </div>
    <div class="row mt-2 text-center text-black copyright-text">
        <div class="col">
            <p>© CAMPER HAMPERS 2021 by Chloe Lewis MS4</p>
        </div>
    </div>
</footer>